.details{
    background-color: #FFDEDE;
    margin: auto 450px;
    padding: 50px;
    box-shadow: 20px 20px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.detailPage{
    background-color: #F8FDCF;
    padding: 5px;
    
}

.img{
    
    margin-bottom: 20px;
    width: 600px;
    height: 390px;
}

.info{
    padding: 0 40px;
    text-align: left;
}